<!-- Home -->
<div data-role="page" id="one">
	<div data-role="header">
		<h1>The 2nd SESAR<br>Innovation Days</h1>
		<h3 style="color:#77AC3E; font-size:8pt;">hosted by DLR &amp; TU-BS.<br/><span style="font-size:8pt;">27th - 29th Nov. 2012</span></h3>
	</div>
	<div data-role="content">
		<div data-role="content">
			<p><a href="#welcome" data-role="button" data-transition="none">Welcome</a></p>
			<p><a href="#news" data-role="button" data-transition="none">News</a></p>
			<p><a href="#programme" data-role="button" data-transition="none">Conference</a></p>
			<p><a href="#events" data-role="button" data-transition="none">Site Seeing &amp; Logistics</a></p>
		</div>
	</div>
	<div data-role="footer" data-theme="d" style="text-align: center;">
		<img src="data/amlekula_logo.png" alt="SESAR"></img>
	</div>
</div>

<!-- Welcome -->
<div data-role="page" id="welcome">
	<div data-role="header">
		<a href="#one" data-icon="back" data-iconpos="notext" data-mini="true" data-direction="reverse" data-transition="none">Home</a>
		<h1>The 2nd SESAR<br>Innovation Days</h1>
		<h3 style="color:#77AC3E; font-size:8pt;">hosted by DLR &amp; TU-BS.<br/><span style="font-size:8pt;">27th - 29th Nov. 2012</span></h3>
	</div>
	<div data-role="content" style="font-size:10pt;">	
		<p style="text-align:center">
			<img src="data/iffLogoNoText.png" style="height:50px;margin-right:20px"/>
			<img src="data/dlr-logo.png" style="height:50px;margin-left:20px"/>
		</p>
		<h3>Welcome</h3>
		<p>SESAR Long-term and Innovative Research, Work Package E, supports research activities that are not currently part of the &quot;mainstream&quot; SESAR development work packages. This research is targeted beyond the current SESAR timeframe, nominally 2020, as well as innovation that may have application in the nearer term. WP-E operates through Research Networks, Research Projects and a PhD Program. Two SESAR Research Networks have been established to date: ComplexWorld &ndash; Mastering Complex Systems Safely, and HALA! &ndash; Higher Automation Levels in ATM. In addition 18 Research Projects and 20 PhD Projects have been initiated.</p>
		<p>The SESAR Innovation Days are the main forum for dissemination of WP-E results and for interaction with the wider ATM research community and industry representatives. The SESAR Innovation Days 2012 will be jointly hosted by the German Aerospace Center (DLR) and the Technical University of Braunschweig from 27th to 29th November 2012. Unlike any other scientific event in ATM research, the SESAR Innovation Days focus explicitly on long-term and innovative research.</p>
		<p>The SESAR Innovation Days will include sessions of the WP-E Research Networks, keynote presentations and panel discussions. An accompanying exhibition will further add to the attractiveness of the event. As well as presenting results of WP-E Networks, Projects and PhDs the event also seeks contributions from the ATM research community through an open call.</p>
		<p>Researchers from research institutions, universities, airlines, air traffic service providers and industry are invited to submit papers (limited to 8 pages) presenting the results of their long-term or innovative research within the areas of interest listed below (derived from the SESAR long term research thematic programme). Papers will be evaluated based on the innovative nature of the ideas, as well as the approach and methods applied.</p>
		<div data-role="collapsible-set" data-filter="true" data-content-theme="c">
			<div data-role="collapsible" data-mini="true" data-content-theme="c">
				<h5>Areas of interest</h5>
				<ul>
					<li>Paving the way to full automation;</li>
					<li>Human factors and safety in a more automated environment;</li>
					<li>Applied modelling, uncertainty, information management and optimization techniques for ATM;</li>
					<li>ATM system architecture and system design;</li>
					<li>Application of complexity science in ATM;</li>
					<li>Application of economics to facilitate a paradigm shift in ATM;</li>
					<li>Legal and regulatory aspects of a paradigm shift in ATM.</li>
				</ul>
			</div>
		</div>
		<p><a href="#one" data-icon="back" data-direction="reverse" data-role="button" data-transition="none">Back</a></p>	
	</div>
	<div data-role="footer" data-theme="d" style="text-align: center;">
		<img src="data/amlekula_logo.png" alt="SESAR"></img>
	</div>
</div>

<!-- News -->
<div data-role="page" id="news">
	<div data-role="header">
		<a href="#one" data-icon="back" data-iconpos="notext" data-mini="true" data-direction="reverse" data-transition="none">Home</a>
		<h1>The 2nd SESAR<br>Innovation Days</h1>
		<h3 style="color:#77AC3E; font-size:8pt;">hosted by DLR &amp; TU-BS.<br/><span style="font-size:8pt;">27th - 29th Nov. 2012</span></h3>
	</div>
	<div data-role="content" style="font-size:10pt;">
		<h3>News</h3>
		<p>
			SID papers and presentations can be downloaded from the website. Please use the following publication reference: Schaefer, Dirk (ed) Proceedings of the SESAR Innovation Days (2011) EUROCONTROL. ISBN 978-2-87497-024-5.
			<div data-role="collapsible-set" data-filter="true" data-content-theme="c">
				<div data-role="collapsible" data-mini="true">
					<h3>Hotel reservation system closed now</h3>
					<p>
						The hotel reservation system is closed now. If you need assistance booking a room, please get in touch with Frederike Stumpf (Mo.-Fr.) from the Convention Bureau Braunschweig:</br>
						</br>Frederike Stumpf
						</br>Convention Bureau Braunschweig
						</br>Telefon: ++49 (0) 531 4 70 44 37
						</br>Fax: ++49 (0) 531 4 70 44 45
						</br>E-Mail: frederike.stumpf@braunschweig.de</br>
						</br>If you need help during the weekend, please try the Braunschweig Tourist Info:
						</br>Tel ++49 (0) 531 4 70 2040
					</p>
				</div>
				<div data-role="collapsible" data-mini="true">
					<h3>Registration for visit to Autostadt Wolfsburg closed</h3>
					<p>
						The registration for visit to Autostadt Wolsburg is closed.
					</p>
				</div>
				<div data-role="collapsible" data-mini="true">
					<h3>RAiCe Workshop on 30th November</h3>
					<p>
						The Final Workshop: Remote Airport Traffic Control Center Project “RAiCe” (2008 – 2012) takes place on Friday 30th November. For registration please contact <a href="mailto:Norbert.Fuerstenau@dlr.de">Norbert.Fuerstenau@dlr.de</a>
					</p>
				</div>
				<div data-role="collapsible" data-mini="true">
					<h3>Final Programme available</h3>
					<p>
						The final programme of the SESAR Innovation Days is now available. Have a look at the <a href="#programme" data-transition="none">Conference Programme section</a> or the <a href="#abstracts" data-transition="none">List of Abstracts</a>.
					</p>
				</div>
				<div data-role="collapsible" data-mini="true">
					<h3>Paper Submission closed</h3>
					<p>
						The deadline for submitting papers to the SESAR Innovation Days was 19th September, submission is now closed. The deadline for posters and exhibition is 8th October.
					</p>
				</div>
				<div data-role="collapsible" data-mini="true">
					<h3>Registration Open!</h3>
					<p>
						Registration for the event is now open!<br/>
						Click&nbsp;<a target="_blank" href="http://sesarinnovationdays.eu/node/25/signups">here</a> to access to the registration form.
					</p>
				</div>
				<div data-role="collapsible" data-mini="true" data-content-theme="c">
					<h3>Second SESAR Innovation Days</h3>
					<p>
						The Second SESAR Innovation Days will take place in Braunschweig, Germany from 27th to 29th November 2012. They will be hosted by DLR and the Technical University of Braunschweig.
					</p>
				</div>
			</div>
	   	</p>
	   	<p><a href="#one" data-icon="back" data-direction="reverse" data-role="button" data-transition="none">Back</a></p>
	</div>
	<div data-role="footer" data-theme="d" style="text-align: center;">
		<img src="data/amlekula_logo.png" alt="SESAR"></img>
	</div>
</div>

<!-- Programme -->
<div data-role="page" id="programme">
	<div data-role="header">
		<a href="#one" data-icon="back" data-iconpos="notext" data-mini="true" data-direction="reverse" data-transition="none">Home</a>
		<h1>The 2nd SESAR<br>Innovation Days</h1>
		<h3 style="color:#77AC3E; font-size:8pt;">hosted by DLR &amp; TU-BS.<br/><span style="font-size:8pt;">27th - 29th Nov. 2012</span></h3>
	</div>
	<div data-role="content">
		<div data-role="collapsible-set" data-filter="true" data-content-theme="c">
			<div data-role="collapsible" data-mini="true">
				<h3>Programme</h3>
				<div data-role="collapsible-set" data-filter="true" data-content-theme="c">
					<div data-role="collapsible" data-mini="true" style="text-align:center;font-size:10pt">
						<h3>Day 1 - 27th November</h3>
						<div class="ui-grid-a ui-bar-b">
							<div class="ui-block-a" style="width:33%">9:00 - 10:30</div>
							<div class="ui-block-b" style="width:67%">Registration</div>
						</div>
						<div class="ui-grid-a ui-bar-c">
							<div class="ui-block-a" style="width:33%">10:30 - 11:00</div>
							<div class="ui-block-b" style="width:67%">Welcome and Opening</div>
						</div>
						<div class="ui-grid-a ui-bar-b">
							<div class="ui-block-a" style="width:33%">11:00 - 12:00</div>
							<div class="ui-block-b" style="width:67%">Keynote: Research &amp; Innovation at Volkswagen<br/>Claus Peter Neumann, Volkswagen</div>
						</div>
						<div class="ui-grid-a ui-bar-c">
							<div class="ui-block-a" style="width:33%">12:00 - 12:15</div>
							<div class="ui-block-b" style="width:67%">Latest news from the Network HALA! - Towards Higher Levels of Automation in ATM</div>
						</div>
						<div class="ui-grid-b ui-bar-b">
							<div class="ui-block-a" style="width:33%">12:15 - 12:30</div>
							<div class="ui-block-b" style="width:67%">Latest news from the Network ComplexWorld - Managing Complex Systems Safely</div>
						</div>
						<div class="ui-grid-a ui-bar-c">
							<div class="ui-block-a" style="width:33%">12:30 - 13:30</div>
							<div class="ui-block-b" style="width:67%">Lunch</div>
						</div>
						<div class="ui-grid-b ui-bar-b">
							<div class="ui-block-a" style="width:33%">13:30 - 15:00</div>
							<div class="ui-block-b ui-bar-e" style="width:33%"><a href="#abstracts" style="color:#000000;text-decoration:none;" data-transition="none">Decision Support Tools<br/>Session chair: Dirk Kuegler, DLR</a></div>
							<div class="ui-block-c" style="width:34%"><a href="#abstracts" style="color:#ffffff;text-decoration:none;" data-transition="none">Economics<br/>Session chair: Lorenzo Castelli, University of Trieste</a></div>
						</div>
						<div class="ui-grid-a ui-bar-c">
							<div class="ui-block-a" style="width:33%">15:00 - 15:30</div>
							<div class="ui-block-b" style="width:67%">Coffee</div>
						</div>
						<div class="ui-grid-a ui-bar-b">
							<div class="ui-block-a" style="width:33%">15:30 - 16:30</div>
							<div class="ui-block-b" style="width:67%"><a href="#abstracts" style="color:#ffffff;text-decoration:none;" data-transition="none">Complexity Science<br/>Session chair: Marc Bourgois, EUROCONTROL</a></div>
						</div>
						<div class="ui-grid-a ui-bar-c">
							<div class="ui-block-a" style="width:33%">16:30 - 16:45</div>
							<div class="ui-block-b" style="width:67%">Poster Teaser Session 1<br/>Session chair: Eduardo Garcia, CRIDA</div>
						</div>
						<div class="ui-grid-a ui-bar-b">
							<div class="ui-block-a" style="width:33%">16:45 - 18:30</div>
							<div class="ui-block-b" style="width:67%">Posters and Exhibits Session, Cocktail</div>
						</div>
					</div>
					<div data-role="collapsible" data-mini="true" style="text-align:center;font-size:10pt">
						<h3>Day 2 - 28th November</h3>
						<div class="ui-grid-a ui-bar-b">
							<div class="ui-block-a" style="width:33%">8:45 - 9:45</div>
							<div class="ui-block-b" style="width:67%">Keynote: Innovation at EADS<br/>Otto Gies, EADS</div>
						</div>
						<div class="ui-grid-a ui-bar-c">
							<div class="ui-block-a" style="width:33%">9:45 - 10:15</div>
							<div class="ui-block-b" style="width:67%">Liabilities and Automation in Aviation<br/>Giuseppe Contissa, European University Institute</div>
						</div>
						<div class="ui-grid-a ui-bar-b">
							<div class="ui-block-a" style="width:33%">10:15 - 10:30</div>
							<div class="ui-block-b" style="width:67%">Poster Teaser Session 2<br/>Session chair: David Perez, Innaxis</div>
						</div>
							<div class="ui-grid-a ui-bar-c">
							<div class="ui-block-a" style="width:33%">10:30 - 11:00</div>
							<div class="ui-block-b" style="width:67%">Coffee</div>
						</div>
						<div class="ui-grid-b ui-bar-b">
							<div class="ui-block-a" style="width:33%">11:00 - 12:30</div>
							<div class="ui-block-b ui-bar-e" style="width:33%"><a href="#abstracts" style="color:#000000;text-decoration:none;" data-transition="none">Trajectory Management<br/>Session chair: Peter Hecker, TU Braunschweig</a></div>
							<div class="ui-block-c" style="width:34%"><a href="#abstracts" style="color:#ffffff;text-decoration:none;" data-transition="none">Human Factors<br/>Session chair: Lena M&aring;rtensson, KTH</a></div>
						</div>
						<div class="ui-grid-a ui-bar-c">
							<div class="ui-block-a" style="width:33%">12:30 - 13:30</div>
							<div class="ui-block-b" style="width:67%">Lunch</div>
						</div>
						<div class="ui-grid-b ui-bar-b">
							<div class="ui-block-a" style="width:33%">13:30 - 15:00</div>
							<div class="ui-block-b ui-bar-e" style="width:33%"><a href="#abstracts" style="color:#000000;text-decoration:none;" data-transition="none">Flow Management<br/>Session chair: Peter Hotham, SJU</a></div>
							<div class="ui-block-c" style="width:34%"><a href="#abstracts" style="color:#ffffff;text-decoration:none;" data-transition="none">Safety and Security<br/>Session chair: Jacco Hoekstra, TU Delft</a></div>
						</div>
						<div class="ui-grid-a ui-bar-c">
							<div class="ui-block-a" style="width:33%">15:15</div>
							<div class="ui-block-b" style="width:67%">Busses leave for visit to Autostadt Wolfsburg</div>
						</div>
						<div class="ui-bar-b">Social Event (Autostadt Wolfsburg)</div>
					</div>
					<div data-role="collapsible" data-mini="true" style="text-align:center;font-size:10pt">
						<h3>Day 3 - 29th November</h3>
						<div class="ui-grid-b ui-bar-b">
							<div class="ui-block-a" style="width:33%">8:30 - 10:30</div>
							<div class="ui-block-b ui-bar-e" style="width:33%"><a href="#abstracts" style="color:#000000;text-decoration:none;" data-transition="none">Modelling and Uncertainty<br/>Session chair: Colin Meckiff, EUROCONTROL</a></div>
							<div class="ui-block-c" style="width:34%">Complex World PhD Symposium<br/>Session chair: Damian Rivas, University of Seville</div>
						</div>
						<div class="ui-grid-a ui-bar-c">
							<div class="ui-block-a" style="width:33%">10:30 - 11:00</div>
							<div class="ui-block-b" style="width:67%">Coffee</div>
						</div>
						<div class="ui-grid-b ui-bar-b">
							<div class="ui-block-a" style="width:33%">11:00 - 12:00</div>
							<div class="ui-block-b ui-bar-e" style="width:33%"><a href="#abstracts" style="color:#000000;text-decoration:none;" data-transition="none">Conflict Resolution<br/>Session chair: Bruno Lamiscarre, ENAC</a></div>
							<div class="ui-block-c" style="width:34%">Complex World PhD Symposium (cont.)</div>
						</div>
						<div class="ui-grid-a ui-bar-c">
							<div class="ui-block-a" style="width:33%">12:00 - 12:15</div>
							<div class="ui-block-b" style="width:67%">Young Scientist Award presented by the SESAR Scientific Committee</div>
						</div>
						<div class="ui-grid-a ui-bar-b">
							<div class="ui-block-a" style="width:33%">12:15 - 12:35</div>
							<div class="ui-block-b" style="width:67%">Address by Patrick Ky<br/>Executive Director SJU</div>
						</div>
						<div class="ui-grid-a ui-bar-c">
							<div class="ui-block-a" style="width:33%">12:35 - 13:15</div>
							<div class="ui-block-b" style="width:67%">Closing plenary<br/>
								Report and observations from HALA!<br/>
								Report and observations from Complex World<br/>
								Next steps for WP-E: Colin Meckiff<br/>
								Close<br/>
							</div>
						</div>
						<div class="ui-grid-a ui-bar-b">
							<div class="ui-block-a" style="width:33%">13:15 - 14:00</div>
							<div class="ui-block-b" style="width:67%">Lunch</div>
						</div>
						<div class="ui-grid-a ui-bar-c">
							<div class="ui-block-a" style="width:33%">14:00</div>
							<div class="ui-block-b" style="width:67%">Bus 1 leaves for Hannover Airport</div>
						</div>
						<div class="ui-grid-a ui-bar-b">
							<div class="ui-block-a ui-bar-e">14:00 - 16:00<br/>Tour of Facilities</div>
							<div class="ui-block-b">14:00 - 16:00<br/>HALA! open workshop<br/>Moderator: Philippe Palanque, IRIT</div>
						</div>
						<div class="ui-grid-a ui-bar-c">
							<div class="ui-block-a" style="width:33%">16:15</div>
							<div class="ui-block-b" style="width:67%">Bus 2 leaves for Hannover Airport</div>
						</div>
					</div>
					<p><a href="#abstracts" data-role="button" data-transition="none">List of Abstracts</a></p>
				</div>
			</div>
			<div data-role="collapsible" data-mini="true" style="font-size:10pt;">
				<h3>Programme Committee</h3>
				<p>
	
				<strong>General Chair</strong><br/>
					Colin Meckiff &ndash; EUROCONTROL<br/>
					Peter Hotham &ndash; SESAR JU<br/>
					&nbsp;<br/>
					<strong>Programme Chair</strong><br/>
					Dirk Schaefer &ndash; EUROCONTROL<br/>
					&nbsp;<br/>
					<strong>Local Organisation Chair</strong><br/>
					Dirk Kuegler &ndash; DLR<br/>
					Peter Hecker &ndash; TU Braunschweig<br/>
					&nbsp;<br/>
					<strong>Programme Committee</strong><br/>
					The SESAR Scientific Committee<br/>
					Tatjana Bolic &ndash; University of Venice<br/>
					Marc Bourgois &ndash; EUROCONTROL<br/>
					Lorenzo Castelli &ndash; University of Trieste<br/>
					Andrew Cook &ndash; University of Westminster<br/>
					Daniel Delahay &ndash; ENAC<br/>
					Peter Hecker &ndash; TU Braunschweig<br/>
					Dirk Kuegler &ndash; DLR<br/>
					Patrick Lelievre &ndash; Airbus<br/>
					Stephane March&eacute; &ndash; Honeywell<br/>
					Patrizia Marti &ndash; University of Siena<br/>
					Anna Masutti &ndash; University of Bologna<br/>
					Max Mulder &ndash; TU Delft<br/>
					David Perez &ndash; ComplexWorld Network<br/>
					Christoph Rihacek &ndash; Frequentis<br/>
					Dami&aacute;n Rivas &ndash; University of Seville<br/>
					Jose-E. Roman &ndash; Boeing R&amp;T Europe<br/>
					Francisco Javier Saez &ndash; HALA! Network<br/>
				</p>
			</div>
			<div data-role="collapsible" data-mini="true" style="font-size:10pt">
				<h3>Locations</h3>
				<p>The event is hosted together by the German Aerospace Center (DLR) and the Technische Universit&auml;t (TU) Braunschweig.</p>
				<ul data-role="listview" data-theme="d" data-divider-theme="c" data-inset="true">
					<li style="font-size:10pt;font-weight:normal;">
						<img src="data/hdw-logo.gif"/>
						<img src="data/iffLogoNoText.png" style="max-height:80px;max-width:80px;left:1px;top:65px;position:absolute;float:left;"/>						
						<h3>TU Braunschweig<br/>Haus der Wissenschaft</h3>
						Day 1 and day 2 will take place at TU Braunschweig, Haus der Wissenschaft (Pockelsstra&szlig;e 11).<br/>To get from Braunschweig Central Station to the TU Braunschweig, Haus der Wissenschaft: leaving the train station, go to bus bay &quot;G&quot; and take bus number &quot;M19&quot; to &quot;Pockelstra&szlig;e&quot; station. See also <span><a href="http://www.hausderwissenschaft.org/hdw_eng/kontakt.html" target="_blank">here</a></span>.
					</li>
					<li style="font-size:10pt;font-weight:normal;">
						<img src="data/dlr-logo.png"/>
						<h3>DLR<br/>Institute of Flight Guidance</h3>
						Day 3 will take place on the DLR site Braunschweig (Lilienthalplatz 7), Building 106.<br/>To get to the DLR site Braunschweig: in the morning of day 3, a free event shuttle service will take guests from the city center to the DLR site. Details will follow. For individual arrival see <span><a href="http://www.dlr.de/fl/en/desktopdefault.aspx/tabid-1131/12480_read-30376/" target="_blank">here</a></span>.
					</li>
				</ul>
			</div>
			<div data-role="collapsible" data-mini="true">
				<h3>Arrival and Departure</h3>
				<ul data-role="listview" data-theme="d" data-divider-theme="a" data-inset="true">
					<li data-role="list-divider">How to get from Hannover Airport to Braunschweig</li>
					<li style="font-size:10pt;font-weight:normal">By mini bus shuttles: The quickest and most direct way to Braunschweig is a shuttle service. The city of Braunschweig offers a booking service:&nbsp;<span><a href="http://www.braunschweig.de/english/business_science_education/conferences_conventions/airport_transfer.html" target="_blank">Link</a></span>. Shuttle agencies operate offices at the airport. See also&nbsp;<span><a href="http://www.hannover-airport.de/index.php?id=transfer&L=1" target="_blank">here</a></span>&nbsp;for a list of these agencies.</li>
					<li style="font-size:10pt;font-weight:normal">By public transport: Local trains go every hour. Visit the&nbsp;<span><a href="http://www.bahn.com/i/view/USA/en/index.shtml" target="_blank">Deutsche Bahn Website</a></span>&nbsp;(insert &quot;Hannover Flughafen&quot; to &quot;Braunschweig Hbf&quot;) to get your connection (duration: 1h).</li>
					<li data-role="list-divider">How to get from Braunschweig to Hannover Airport</li>
					<li style="font-size:10pt;font-weight:normal">A free event shuttle service from the conference venue to Hannover Airport will be provided on day 3 (duration of the transfer about 1h). The first bus will leave at 14:00 and the second bus will leave at 16:00. Please make sure to indicate if you would like to use the shuttle when you register for the event.</li>
					<li style="font-size:10pt;font-weight:normal">Use a shuttle service from a travel agency (see above).</li>
					<li style="font-size:10pt;font-weight:normal">Take local bus &quot;M19&quot; to get to Braunschweig Central Station and then a local train to Hannover. Visit the&nbsp;<span><a href="http://www.bahn.com/i/view/USA/en/index.shtml" target="_blank">Deutsche Bahn Website</a></span>&nbsp;(insert &quot;Braunschweig Hbf&quot; to &quot;Hannover Flughafen&quot;) to get your connection.</li>
				</ul>
				<ul data-role="listview" data-theme="d" data-divider-theme="e" data-inset="true">
					<li data-role="list-divider">In case of Emergency: Taxi Services</li>
					<li style="font-size:10pt;font-weight:normal"><span><a href="www.taxi-braunschweig.de" target="_blank">Taxi Braunschweig</a></span><br/>phone: <strong>0531-66666</strong></li>
					<li style="font-size:10pt;font-weight:normal"><span><a href="www.minicar-braunschweig.de" target="_blank">Minicar Braunschweig</a></span><br/>phone: <strong>0531-55050</strong> or <strong>0531-577777</strong></li>
				</ul>
			</div>
		</div>
	   	<p><a href="#one" data-icon="back" data-direction="reverse" data-role="button" data-transition="none">Back</a></p>
	</div>
	<div data-role="footer" data-theme="d" style="text-align: center;">
		<img src="data/amlekula_logo.png" alt="SESAR"></img>
	</div>
</div>

<!-- Events in Braunschweig for free time -->
<div data-role="page" id="events">
	<div data-role="header">
		<a href="#one" data-icon="back" data-iconpos="notext" data-mini="true" data-direction="reverse" data-transition="none">Home</a>
		<h1>The 2nd SESAR<br>Innovation Days</h1>
		<h3 style="color:#77AC3E; font-size:8pt;">hosted by DLR &amp; TU-BS.<br/><span style="font-size:8pt;">27th - 29th Nov. 2012</span></h3>
	</div>
	<div data-role="content" style="font-size:10pt;font-weight:normal;">
		<h3>Site Seeing &amp; Logistics</h3>
		<div data-role="collapsible-set" data-mini="true">
			<div data-role="collapsible" data-mini="true" data-content-theme="c">
				<h3>Social Event</h3>
				<strong style="font-size:12pt">Autostadt Wolfsburg</strong>
				<br/>The social event will take place in the Autostadt Wolfsburg on 28th November and includes a visit to the Museum as well as a buffet dinner. Transportation to and from the venue will provided by the conference organisers. Participants are asked to contribute 40 Euros. For more information about Autostadt Wolfsburg see <span><a href="http://www.autostadt.de/" target="_blank">here</a></span>.
			</div>
			<div data-role="collapsible" data-mini="true" data-content-theme="c">
				<h3>Lunch (day 1 &amp; 2)</h3>
				<p>
					It is possible to buy coupons for lunch in the cafeteria during days one and two. One coupon costs 7,50&euro; and includes a starter, main course, side dish, dessert and soft drink. Tables have been booked exclusively for conference participants.</br>
				</p>
				<p>
					<strong>Menu for day 1, 27th:</strong>
					<ul>
						<li>Pea soup with sausage</li>
						<li>Hubertustopf hunters style</li>
						<li>Ragout of turkey, mango, pineapple and tomato including green tagliatelle</li>
						<li>Vegetarian: Stuffed Canneloni with cheese sauce</li>
						<li>Cheeseburger XXL with French fries</li>
						<li>Side dish: Baguette, asian vegetables, pasta, French fries</li>
						<li>Dessert: muesli</li>
					</ul>
					<strong>Menu for day 2, 28th:</strong>
					<ul>
						<li>Herb stew with savoy cabbage and porcini</li>
						<li>Chili con carne</li>
						<li>Turkey roulade</li>
						<li>Vegetarian: String beans, zucchini, chili with wholegrain rice</li>
						<li>Rump steak with herb butter and French fries</li>
						<li>Side dish: Scions, mashed potatoes with herbs, rice, string beans, rice djuvec style</li>
						<li>Dessert: rice pudding</li>
					</ul>
				</p>
			</div>
			<div data-role="collapsible" data-mini="true" data-content-theme="c">
				<h3>Hotels</h3>
				<p>
					The hotel reservation system is closed now. If you need assistance booking a room, please get in touch with Frederike Stumpf (Mo.-Fr.) from the Convention Bureau Braunschweig:<br/>
					</br>Frederike Stumpf
					<br/>Convention Bureau Braunschweig
					<br/>Telefon: ++49 (0) 531 4 70 44 37
					<br/>Fax: ++49 (0) 531 4 70 44 45
					<br/>E-Mail: frederike.stumpf@braunschweig.de<br/>
					<br/>If you need help during the weekend, please try the Braunschweig Tourist Info:
					<br/>Tel ++49 (0) 531 4 70 2040
				</p>
			</div>
			<div data-role="collapsible" data-mini="true" data-content-theme="c">
				<h3>Getting Around</h3>
				<p>
					Braunschweig city center can easily be explored by foot. For information about Braunschweig see <a href="http://www.braunschweig.de/" target="_blank">here</a>. It also has a well-established public transport system of buses and trams. See also <a href="http://www.braunschweiger-verkehrs-ag.de/" target="_blank">here</a>&nbsp;(in German).
				</p>
			</div>
		</div>
	   	<p><a href="#one" data-icon="back" data-direction="reverse" data-role="button" data-transition="none">Back</a></p>
	</div>
	<div data-role="footer" data-theme="d" style="text-align: center;">
		<img src="data/amlekula_logo.png" alt="SESAR"></img>
	</div>
</div>

<!-- List of Abstracts -->
<div data-role="page" id="abstracts">
	<div data-role="header">
		<a href="#programme" data-icon="back" data-iconpos="notext" data-mini="true" data-direction="reverse" data-transition="none">Home</a>
		<h1>The 2nd SESAR<br>Innovation Days</h1>
		<h3 style="color:#77AC3E; font-size:8pt;">hosted by DLR &amp; TU-BS.<br/><span style="font-size:8pt;">27th - 29th Nov. 2012</span></h3>
	</div>
	<div data-role="content" style="font-size:10pt;font-weight:normal;">
		<h3>List of Abstracts</h3>
		<p>SID papers and presentations can be downloaded from the website. Please use the following publication reference: Schaefer, Dirk (ed) Proceedings of the SESAR Innovation Days (2012) EUROCONTROL. ISBN 978-2-87497-024-5.</p>
		<ul data-role="listview" data-theme="d" data-divider-theme="a" data-inset="true" data-filter="true">
			<li data-role="list-divider">Decision Support Tools</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>Taxi routing for aircraft: Creation and Controlling</strong>
				<br/>Ingrid Gerdes, DLR
			</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>Causal Decision Support Tools for Strategic Trajectory De-confliction to Enable Seamless Aircraft Conflict Management (STREAM)</strong>
				<br/>Andrea Ranieri, ALG INDRA and Jenaro Nosedal, University of Barcelona
			</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>Joint Human-Automation Cognition through a Shared Representation of 4D Trajectory Management</strong>
				<br/>Rolf Klomp, TU Delft
			</li>
			<li data-role="list-divider">Economics</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>Passenger-Oriented Enhanced Metrics</strong>
				<br/>Andrew Cook, University of Westminster
			</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>Socially Optimal Allocation of ATM Resources via Truthful Market-Based Mechanisms</strong>
				<br/>Valentin Polishchuk, University of Helsinki
			</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>Usefulness of FMECA for Improvement of Productivity of TWR Processes</strong>
				<br/>Amela Karahasanovic, SINTEF and Ted Zeh, Frequentis
			</li>
			<li data-role="list-divider">Complexity Science</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>A Framework for Modelling the Consequences of the Propagation of Automation Degradation: Application to Air Traffic Control Systems</strong>
				<br/>Eric Rigaud, Mines-Paristech
			</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>Statistical Regularities in ATM: Network Properties, Trajectory Deviations and Delays</strong>
				<br/>Salvatore Miccich&egrave;, University of Palermo
			</li>
			<li data-role="list-divider">Trajectory Management</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>Conflict Resolution with Time Constraints in Trajectory-Based Arrival Management</strong>
				<br/>Dami&aacute;n Rivas, University of Seville
			</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>Examples of Supervisory Interaction with Route Optimizers</strong>
				<br/>Oliver Turnbull, University of Bristol
			</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>Flight Trial Evaluation Of Automated Paired Approaches Onto Closely Spaced Parallel Runways</strong>
				<br/>Bernd Korn, DLR
			</li>
			<li data-role="list-divider">Human Factors</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>Remote Towers: Videopanorama Frame Rate Requirements Derived from Visual Discrimination of Deceleration during Simulated Aircraft Landing</strong>
				<br/>Norbert F&uuml;rstenau, DLR
			</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>Introduction of a more Automated Environment in En-Route ATC</strong>
				<br/>Caroline Martin, CENA
			</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>Applying the Resilience Engineering and Management Perspective to Problems of Human Alarm Interaction in ATM</strong>
				<br/>Simone Rozzi, Middlesex University
			</li>
			<li data-role="list-divider">Flow Management</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>Optimization and Prioritisation of Flows of Air Traffic through an ATM Network</strong>
				<br/>Hugo de Jonge, NLR
			</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>Air Traffic Flow Management Under Uncertainty: Interactions Between Network Manager and Airline Operations Centre</strong>
				<br/>Gillian Clare, University of Bristol
			</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>The Effect of Increasing Levels of Automation in Demand-Capacity Balancing processes on Human Actors and their Roles and Responsibilities</strong>
				<br/>Rosana Casar, ISDEFE
			</li>
			<li data-role="list-divider">Safety and Security</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>Agent-Based Modelling of Hazards in ATM</strong>
				<br/>Tibor Bosse, Free University of Amsterdam
			</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>SERSCIS: Semantic Modelling of Dynamic, Multi-Stakeholder Systems</strong>
				<br/>Martin Hall-May, University of Southampton
			</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>Searching Air Sectors for Risk</strong>
				<br/>Kester Clegg, University of York
			</li>
			<li data-role="list-divider">Modelling and Uncertainty</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>Uncertainty Handling and Trajectory Synchronization for the Automated Arrival Management</strong>
				<br/>Michael Schultz, TU Dresden
			</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>Increasing Air Traffic: What is the Problem?</strong>
				<br/>Gaetan Marceau Caron, Thales Air Systems
			</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>Strategic planning in ATM with a stochastic anytime approach</strong>
				<br/>David Alejo, University of Seville
			</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>Online Learning for Ground Trajectory Prediction</strong>
				<br/>Gaetan Marceau Caron, Thales Air Systems
			</li>
			<li data-role="list-divider">Conflict Resolution</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>An Investigation into Conflict Detection and Resolution Strategies in Air Traffic Management</strong>
				<br/>Clark Borst, TU Delft
			</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>On the design of UAS horizontal separation maneuvers</strong>
				<br/>Marc P&eacute;rez-Batlle, Technical University of Catalonia
			</li>
			<li data-role="list-divider">Complex World PhD Symposium</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>Uncertainty and Robustness</strong>
				<br/>Andreas Heidt
			</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>Analysis and detection of loss of separation: a data mining approach</strong>
				<br/>David Est&eacute;banez Gallo
			</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>Agent-Based Modelling and Simulation of Emergent Behaviour in Air Transportation</strong>
				<br/>Soufiane Bouarfa
			</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>Systemic propagation of delays in the US airport network</strong>
				<br/>Pablo Fleurquin
			</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>Analysis and Modelling of the European Route-Network</strong>
				<br/>Bernardo Monechi
			</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>Formal Analysis of Aviation Incidents via Interlevel Relations</strong>
				<br/>Nataliya Mogles
			</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>A theoretical sector capacity analysis with DIVMET</strong>
				<br/>Manuela Sauer
			</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>Complex World Position Paper</strong>
				<br/>Dami&aacute;n Rivas
			</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>Next steps for Complex World</strong>
				<br/>David P&eacute;rez
			</li>
			<li data-role="list-divider">HALA! open workshop</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>Introduction</strong>
				<br/>Philippe Palanque, IRIT
			</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>Current status of the HALA! Position Paper</strong>
				<br/>Eduardo Garcia, UPM/CRIDA
			</li>
			<li style="font-size:10pt;font-weight:normal">
				<strong>Vision, Research challenges and Gaps within the 5 research areas of HALA!</strong>
				<br/>Hartmut Fricke, TU Dresden, Lena M&aring;rtensson, KTH, Thomas Feuerle, TU Braunschweig, Alberto Pasquini, Deep Blue, Xavier Prats, UPC
			</li>
		</ul>
	</div>
	<div data-role="footer" data-theme="d" style="text-align: center;">
		<img src="data/amlekula_logo.png" alt="SESAR"></img>
	</div>
</div>